---
title: Test Results
---

Bryan Johnson's current results showcase the effectiveness of the Blueprint Protocol. Here are some of the markers he's currently tracking and reporting on:

| Biomarker | Result | Age Equivalent | Optimal Clinical Outcomes Range (OCOR) |
|-----------|--------|----------------|----------------------------------------|
| [ALT](/docs/Reference/tests/alt) | OPTIMAL | 18 | <15 |
| [BMI](/docs/Reference/tests/bmi) | OPTIMAL | 22.8 | <22.5 |
| [Fasting plasma glucose](/docs/Reference/tests/fasting_plasma_glucose) | OPTIMAL | 82 | <95 |
| [Body Fat](/docs/Reference/tests/body_fat) | OPTIMAL | 6.9% | <10% |
| [Cholesterol (total)](/docs/Reference/tests/cholesterol_total) | OPTIMAL | 158 | - |
| [DHEA](/docs/Reference/tests/dhea) | OPTIMAL | 310 | < age 50 |
| [Free Testosterone Index](/docs/Reference/tests/free_testosterone_index) | OPTIMAL | 0.4 | < age 50 |
| [GGT](/docs/Reference/tests/ggt) | OPTIMAL | 10 | <14 |
| [Glutathione](/docs/Reference/tests/glutathione) | OPTIMAL | 227 | < age 30 |
| [Grip Strength Dominant](/docs/Reference/tests/grip_strength_dominant) | OPTIMAL | 134 | < age 30 |
| [Grip Strength Non-dominant](/docs/Reference/tests/grip_strength_non_dominant) | OPTIMAL | 124 | < age 30 |
| [HbA1C](/docs/Reference/tests/hba1c) | OPTIMAL | 4.5 | 4.5-5.6 |
| [HDL](/docs/Reference/tests/hdl) | OPTIMAL | 73 | 50 - 60 |
| [hsCRP](/docs/Reference/tests/hscrp) | OPTIMAL | 0.20 | <0.55 |
| [IGF-1](/docs/Reference/tests/igf_1) | OPTIMAL | 151 | 75 - 150 |
| [LDL](/docs/Reference/tests/ldl) | OPTIMAL | 74 | < 100 |
| [NAD](/docs/Reference/tests/nad) | OPTIMAL | 52.6 | < age 30 |
| [PSA](/docs/Reference/tests/psa) | OPTIMAL | 0.68 | < age 30 |
| [RDW](/docs/Reference/tests/rdw) | OPTIMAL | 11.3 | < age 30 |
| [SHBG](/docs/Reference/tests/shbg) | OPTIMAL | 68 | - |
| [TSH](/docs/Reference/tests/tsh) | OPTIMAL | 1.94 | 1 - 2.1 |
| [Triglycerides](/docs/Reference/tests/triglycerides) | OPTIMAL | 55 | 27 - 89 |
| [Testosterone](/docs/Reference/tests/testosterone) | OPTIMAL | 769 | - |
| [VO2 max treadmill](/docs/Reference/tests/vo2_max_treadmill) | OPTIMAL | 53.6 | < age 30 |
| [WBC](/docs/Reference/tests/wbc) | OPTIMAL | 4.5 | 3.5 - 6 |
| [20th percentile telomeres PBMC](/docs/Reference/tests/20th_percentile_telomeres_pbmc) | OPTIMAL | 7 | < age 30 |
